<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>Lista Api</h4>
  <ion-list *ngFor="let aux of rickymorty">
    <ion-item>
      <ion-card [routerLink]="'/detallecard/'+aux.id">
        <img src="{{ aux.image }}" alt="">
        <ion-card-header>
          <ion-card-title>{{ aux.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button (click)="cargarMasData()">Mas...</ion-button>
  <ion-button (click)="cargarAnteriorPagina()">Anterior Mas...</ion-button>
  <ion-button (click)="cargarSiguientePagina()">Siguiente Mas...</ion-button>
</ion-content>
