<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.fcbarcelona.com/photo-resources/2022/08/02/ae5252d1-b79b-4950-9e34-6e67fac09bb0/LeoMessi20092010_pic_fcb-arsenal62.jpg?width=1200&height=750" />
    <ion-card-header>
      <ion-card-title>Messi</ion-card-title>
      <ion-card-subtitle>24 de junio de 1987</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Lionel Andrés Messi Cuccittini, conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista en el Inter Miami de la Major League Soccer.
    </ion-card-content>
    <ion-button shape="round" color="primary" class="centrado" [routerLink]="['/detalle']" >Ver Mas ...</ion-button>
  </ion-card>
</ion-content>
